
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

    /* Recommended icon sizes */
span.size-18 {
    font-size: 18px;
    font-variation-settings: 'OPSZ' 18;
}
span.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}
span.size-24 {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 24;
}
span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}
span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}
